.idea
.settings
.classpath
.project
.vscode
.factorypath

*/grep/out/
target/

# Compiled class file
*.class

# Environment variable Files
*.env

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.lst
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.txt